body {
	margin: 0px;
}


.main {
	height: 100vh;
	width: 100%;
	background-image: url(images/landing.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover; 
	position: relative;
	
}

@media screen and (min-width:320px) {
	background-image: url(images/landing.jpg);
	position: relative;
}


@media screen and (min-width:1000px) {
	#container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	}
}

.header {
	margin-top: 0px;
	width: 100%;
}

.logo {
	float: left;
	margin-top: 15px;
	margin-left: 40px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: right;
}

a {
	display: block;
	padding-top: 35px;
	padding-right: 90px;
    color: #7f8c8d;
    text-decoration: none;
	font-family: 'Berlin Sans FB', sans-serif;
	font-size: 20px;
}

li a:hover {
    text-decoration: underline #2ecc71;
}

.active {
    background-color: #2ecc71;
}

span {
	width: 100%;	
}


@media screen and (min-width:1000px) {
.desk {
	float: center;
	margin: auto;
	display: block;
	position: relative;
	padding-top: 290px;
	padding-left: 300px;
}
}

/*HEADER SECTION*/
#head {
	width: 100%;
	height: 100vh;
	background-image: url(images/workS.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover; 
	position: relative;
}

#ucla {
	width: 100%;
	height: 100vh;
	background-image: url(images/respage.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover; 
	position: relative;
}

.linkedin {
	overflow: auto;
	padding: 0;
	margin: 0;
	border: none;
	position: absolute;
	bottom: 0;
	padding-left: 1635px;
	padding-bottom: 29px;
}

iframe {
	padding-left: 650px;
	padding-top: 80px;
	border: none;	
}

/*HEADER SECTION allwork*/

.full {
	padding: 135px
}

.container {
	width: 1200px;
	height: 628px;
	border: 0px solid black;
	margin: 0 auto;
	position: relative;
}


.slides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(255,255,255, 0.8);
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*HEADER SECTION second page of allwork*/
#second {
	width: 100%;
	height: 100vh;
	background-image: url(images/second.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover; 
	position: relative;
}

.vone {
	bottom: 800px;
	position: relative;
	
}

.vone > video {
	 width: 50%; 
	 height: 50vh;
	 float: right;
}

.vtwo {
	bottom: 300px;
	position: relative;
}

.vtwo > video {
	 width: 50%; 
	 height: 50vh;
	 float: left;
}



	